body {
    font-family: Tahoma, sans-serif;
    background-color: MistyRose; 
    color: #003366; 
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background: lavender; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
}

h1, h2 {
    text-align: center;
    color: #005fa3; 
}

p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #cccccc; 
}

button {
    padding: 10px 15px;
    background-color: #007acc; 
    color: #ffffff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #005fa3; 
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px #005fa3;
}

.result, .message-box {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

.underweight {
    background-color: #ffc107; 
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
}

.normal {
    background-color: #28a745; 
    padding: 10px;
    border-radius: 5px;
    color: #ffffff; 
}

.overweight {
    background-color: #fd7e14; 
    padding: 10px;
    border-radius: 5px;
    color: #ffffff; 
}

.obesity {
    background-color: #dc3545; 
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
}

 .small-button {
    display: inline-block; 
    padding: 5px 10px; 
    background-color: #ff4d4d; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    text-align: center; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.small-button:hover {
    background-color: #e60000; 
}
#backToTopBtn {
    display: none; 
}
